@using Zubrs.Mvc.Infrastructure
@model Zubrs.Models.Game

<div class="bz-panel">
    <p>@Html.RouteLink(@Model.Season.Competition.Title, @RouteName.Season, new { id = @Model.SeasonId })</p>
    <div class="row">
        <div class="small-9 columns">
            @Model.Home.Title
        </div>
        <div class="small-3 columns text-right">
            @Model.HomeScore
        </div>
    </div>
    <div class="row">
        <div class="small-9 columns">
            @Model.Away.Title
        </div>
        <div class="small-3 columns text-right">
            @Model.AwayScore
        </div>
    </div>
    <p><span>@Html.DisplayFor(x => x.Date)</span></p>
    @*<p><span>{{ x.date|date('j.m.Y H:i') }}</span></p>*@
</div>
