@using Zubrs.Mvc.Infrastructure
@model Zubrs.Mvc.ViewModels.HomeViewModel


<div class="small-12 columns">

    <div class="row">
        <div class="small-12 columns">
            <ul data-orbit data-options="bullets:false;timer:false;circular:false">
                @foreach (var row in Model.Games)
                {
                    <li>
                        <div class="row" style="margin: 0 15px;">
                            @for (int i = 0; i < row.Length; i++)
                            {
                                <div class="small-3 columns @(i == row.Length - 1 ? "end" : null)">
                                    @{Html.RenderPartial("_Game", row[i]);}
                                </div>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="small-4 columns">
            @{ Html.RenderPartial("_NewsImages", Model.GeneralNews); }
        </div>
        <div class="small-4 columns">
            <h5>@Html.RouteLink("Новости", RouteName.News)</h5>
            @{ Html.RenderPartial("_NewsTitles", Model.GeneralNews); }
        </div>
        <div class="small-4 columns">
            <h5>@Html.RouteLink("Видео", RouteName.Video)</h5>
            <div class="flex-video">
                <iframe width="640" height="360" src="@Model.Video.VideoUrl" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-4 columns">
            @{ Html.RenderPartial("_NewsImages", Model.KidNews, new ViewDataDictionary { { "data-options", "timer_speed:6000" } });}
        </div>

        <div class="small-4 columns end">
            <h5>@Html.RouteLink("Детский спорт", RouteName.News)</h5>
            @{ Html.RenderPartial("_NewsTitles", Model.KidNews); }
        </div>

        <div class="small-4 columns">
            <h5>@Html.RouteLink("Таблицы турниров 2014", RouteName.Competitions)</h5>
            <dl class="tabs" data-tab>
                @for (int i = 0; i < @Model.SeasonTables.Length; i++)
                {
                    var table = @Model.SeasonTables[i];
                    <dd class="@(i == 0 ? "active" : null)">
                        <a href="#tab-@table.Season.Id" title="@table.Season.Competition.Title">@table.Season.Competition.TitleShort</a>
                    </dd>
                }
            </dl>
            <div class="tabs-content">
                @for (int i = 0; i < @Model.SeasonTables.Length; i++)
                {
                    var table = @Model.SeasonTables[i];
                    <div class="content @(i == 0 ? "active" : null)" id="tab-@table.Season.Id">
                        @{ Html.RenderPartial("_CompetitionTable", table.Ranks, new ViewDataDictionary { { "class", "bz-table" } }); }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).foundation({
            orbit: {
                timer_speed: 5000,
                resume_on_mouseout: true,
                slide_number: false,
                prev_class: 'bz-orbit-prev',
                next_class: 'bz-orbit-next'
            }
        });

        var delay = 400,
            setTimeoutConst,
            gotoLink = function(link) {
                if ((typeof link === 'string') && (link = $.trim(link)) != "") {
                    var slide = $(document).find('[data-bz-orbit-source=' + link + ']');
                    if (slide.index() != -1) {
                        var orbit = slide.closest('[data-orbit]').data('Instance');
                        orbit._goto(slide.index());
                    }
                }
            };
        $('[data-bz-orbit-target]').hover(
            function() {
                var link = $(this).attr('data-bz-orbit-target');
                setTimeoutConst = setTimeout(gotoLink, delay, link);
            },
            function() {
                clearTimeout(setTimeoutConst);
            }
        );
    </script>

}