@using Zubrs.Mvc.Helpers
@using Zubrs.Mvc.Infrastructure
@model Zubrs.Mvc.ViewModels.HistoryViewModel

<div class="small-2 columns">
    <ul class="bz-side-nav">
        @foreach (var x in Model.Items)
        {
            <li class="@(x.Id == Model.Item.Id ? "active" : null )">
                @Html.RouteLink(x.MenuTitleSafe.ToUpper(), RouteName.HistoryItem, new { id = x.Id })
            </li>
        }
    </ul>
</div>

<div class="small-10 columns">
    <h1>@Model.Item.Title</h1>
    
    @if (Model.Item.HasImage)
    {
        <p><img src="@Model.Item.ImageUrl" class="th" /></p>
    }
    
    @Html.Markdown(Model.Item.Text)

</div>
