@using Zubrs.Mvc.Infrastructure
@model Zubrs.Mvc.ViewModels.TeamViewModel

<div class="small-2 columns">
    <ul class="bz-side-nav">
        @foreach (var x in Model.Teams)
        {
            <li class="@(x.Id == Model.Team.Id ? "active" : null)">
                @Html.RouteLink(x.TitleShort.ToUpper(), RouteName.Team, new { id = x.Id })
            </li>
        }
    </ul>
</div>

<div class="small-10 columns">
    <h1>@Model.Team.Title</h1>
    <table>
        <tbody>
            @foreach (var x in Model.Team.Players)
            {
                <tr>
                    <td><img class="th" src="@x.ImageUrl" width="40" /></td>
                    <td>@x.Name</td>
                    <td>@x.Number</td>
                    <td>@x.Position</td>
                </tr>
            }
        </tbody>
    </table>
</div>