@using Zubrs.Mvc.Helpers
@using Zubrs.Mvc.Infrastructure
@model Zubrs.Models.Article[]

<div class="small-12 columns">
    <h1>Новости</h1>
    @for (int i = 0; i < Model.Length; i++)
    {
        var x = Model[i];
        var link = Url.RouteUrl(RouteName.NewsItem, new {id = x.Id});

        <div class="row">
            @if (x.HasImage)
            {
                <div class="small-2 columns">
                    <a class="th" href="@link"><img src="@x.ImageUrl"></a>
                </div>
                <div class="small-10 columns">
                    <h5><a href="@link">@x.Title</a></h5>
                    @Html.Markdown(x.PreText)
                </div>
            }
            else
            {
                <div class="small-12 columns">
                    <h5><a href="@link">@x.Title</a></h5>
                    @Html.Markdown(x.PreText)
                </div>
            }
        </div>
        if (i < Model.Length - 1)
        {
            <hr />
        }
    }
</div>
