@using Zubrs.Extensions
@using Zubrs.Mvc.Infrastructure
@model Zubrs.Mvc.ViewModels.CompetitionViewModel

<div class="small-2 columns">
    <ul class="bz-side-nav">
        @foreach (var x in Model.Competitions)
        {
            <li class="@(Model.Competition.Id == x.Id ? "active" : null)">
                @Html.RouteLink(x.Title, RouteName.Competition, new { id = x.Id })
            </li>
        }
    </ul>
</div>

<div class="small-10 columns">
    <h1>@Model.Competition.Title</h1>

    <h2 class="subheader">Таблица</h2>
    {% include 'inc/_competition_table.html' with {'competition': competition} %}

    <h2 class="subheader">Расписание</h2>
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Место</th>
                <th>Хозяева</th>
                <th>Гости</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Season.Games.Count > 0)
            {
                foreach (var x in Model.Season.Games)
                {
                    <tr>
                        <td>@Html.DisplayFor(_ => x.Date)</td>
                        <td>@x.Place.DisplayName()</td>
                        <td>@x.Home.Title</td>
                        <td>@x.Away.Title</td>
                        <td>@x.Score</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">Игры отсутствуют</td>
                </tr>
            }
        </tbody>
    </table>

</div>
